CompileFlags:
  Add:
    - -std=c++17
    - -Wall
    - -Wextra
    - -I/usr/include
    - -I/usr/include/x86_64-linux-gnu
  Remove:
    - -W*

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
