CompileFlags:
  Add:
    - -std=c++17
    - -Wall
    - -Wextra
  Remove:
    - -W*

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
